  body{
    background-image: url('project_details/tile.jpg');
    background-size: 100%;
  }
  
  .background_main_div{
      width: 100%;
      height: 1000px;
      position: relative;

  }

  .header{
      background-color: white;
      text-align: center;
      width: 25%;
      position: absolute;
      left: 40%;
      top: -4%;
  }
